body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("images/bg5.jpg"); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.city {
  font-size: 13px;
}

.weather-container {
  background-color: #ebe6e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.left-section,
.right-section {
  flex: 1;
}
.right-section {
  width: 41%;
}
.weather-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.weather-date {
  color: black;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
}
.weather-header input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.weather-info {
  text-align: center;
  margin-bottom: 20px;
}
.weather-details img {
  width: 160px;
  height: 160px;
}
.weather-temp {
  font-size: 40px;
  margin: 0;
}
.weather-desc {
  font-size: 30px;
  margin: -25px 0;
  font-weight: bolder;
}
.weather-extra {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.weather-extra p {
  margin: 0;
}
.temperature-chart {
  margin-top: 20px;
}
.forecast-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.forecast-card {
  /* background-color: #f4f7f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

  background-color: #f4f7f9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 141px;
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.forecast-card.today {
  background-color: #007bff;
  color: white;
}
.flexx {
  display: flex;
  align-items: center;
}
.temp_img {
  justify-content: center;
  margin-bottom: 42px;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.fa-face-smile {
  margin-right: 5px;
}
.email_input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  margin-left: 4px;
}

.second_div {
  margin-top: 20px;
}
/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 33px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 6px 21px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  background-color: #f4f7f9;
  color: black;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.ficon {
  font-size: 35px;
  margin-top: 19px;
  z-index: 100;
}


.circle2 {
  position: absolute;
  margin: auto;
  margin-top: -67px;
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 50%;
  transition: all 0.5s;
}
.forecast-card:hover .finfo{
  color: white;
}
.forecast-card:hover .circle2 {
 
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  width: 110px;
  height: 140px;
  transition: all 0.5s;
  margin-top: 5px;
}
.forecast-card:hover .content{
  color: white;
}



.content {
  margin: auto;
  z-index: 100;
  color: black;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
}

.ftext {
  color: #776870;
  font-weight: bolder;
  font-size: 12px;
  margin-top: 12px;
}
.finfo {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  z-index: 100;
}


.last_div {
  margin-bottom: 19px;
}
